.bg-gradient-blue  {
    background-image: radial-gradient( circle farthest-corner at 7.2% 13.6%,  rgba(37,249,245,1) 0%, rgba(8,70,218,1) 90% );
}

header {
    font-family: 'IM Fell English SC', serif;
}

h1 {
    font-size: 60px;
}


input:focus::placeholder {
    color: transparent
}

#search-btn {
    width: 100%;
    font-size: 20px
}

.border-4 {
    border-width: 3px !important ;
}

#search-history {
    width: 100%;
    list-style-type: none;
}

.city-button {
    width: 100% !important;
    font-size: 18px;
    background-color: #c4c3d0
}

.display-4 {
    font-size: 20px;
};

.display-1 {
    font-size: 4rem !important;
}

.city-font {
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}